<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <h1>Edit Ticket</h1>

    <form method="post">
        <script>
                    var name = document.getElementById("ticket.ticketLife").value;
                    name = name.substring(1);
                    document.write("<input hidden name='ticketLife' readonly value='"+name+"' />");
        </script>
        <fieldset class="form-group">
            <label for="ticketNum">Ticket Number</label><br>  
            <input name="ticketNum" readonly value="<%= ticket.ticketNum %>" /><br>
            
            <label for="ticketCreated">Date Created</label><br>  
            <input name="ticketCreated" readonly value="<%= ticket.created %>" /><br>
            
            <label for="ticketOwner">Owner Name</label><br>  
            <input name="ticketOwner" id="ticketOwner" value="<%= ticket.ticketOwner %>"/><br>
            
            <label for="ticketDesc">Ticket Description</label><br>  
            <input name="ticketDesc" readonly value="<%= ticket.ticketDesc %>"></input><br>
            
            <label for="ticketLife">Ticket Life</label><br>  
            <input name="ticketLife" id="ticketLife" value="<%= ticket.ticketLife %>"></input><br>
            
            <label for="ticketUpdate">Ticket Update</label><br>  
            <input name="ticketUpdate" placeholder="What has changed?"></input><br>

            <label for="radioCheck">Priority Level</label><br>
            <select name="ticketPriority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select><br>
            
            <label for="radioCheck">Status</label><br>
            <select name="ticketStatus">
                <option value="Ongoing">Ongoing</option>
                <option value="Closed">Closed</option>
            </select>
            
            <!-- Change to LastUpdate-->
            <input hidden name="ticketClosed" readonly value="<%= Date.now() %>" />
            
        </fieldset>
        <button type="submit" class="col-sm-offset-2 btn btn-success">Update</button>

        <a href="/tickets/delete/<%= ticket._id %>" title="Delete" onclick="return confirm('Are you sure you want to delete this?');">
            <button type="button" class="btn btn-danger">Delete</button>
        </a>

<br><br>
        <!--Update Table-->
        <table border="1" pas>
            <tr><td>Number</td><td>Date</td><td>Owner</td><td>Update</td></tr>
            <script>
                var first = document.getElementById("ticketLife").value;
                var values = first.split('/');
                
                for (i=0;i<values.length;i=i+3)
                {
                    document.write("<tr><td>" + (i/3) + "</td>");
                    document.write("<td>" + values[i].substring(1) + "</td>");
                    document.write("<td>" + values[i+1] + "</td>");
                    document.write("<td>" + values[i+2] + "</td></tr>");
                }
            </script>
        </table>
        <script>
            var date = Date.now();
            var name = document.getElementById("ticketOwner").value;
            var change = 'Created';
            var seperator = '/';
            var concatLife = date+seperator+name+seperator+change+seperator;
            document.write("<input name='ticketLife' readonly value='"+concatLife+"' />");
        </script>
    </form>
</main>
<% include ../partials/footer.ejs %>