<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<main class="container">
    <h1>Tickets</h1>

    <a href="/tickets/add">Add a New Ticket</a>
    
    <div>
        <input id="ticketsAll" type="button" value="Hide Closed Tickets" />
    </div>
    <div>
        <input id="ticketsOpen" type="button" value="Nope" />
    </div>
    <table class="table table-bordered" id="table">
        <thead>
            <tr>
                <th>Ticket Number</th>
                <th>Priority</th>
                <th>Status</th>
                <th>Owner</th>		
                <th>Opened</th>
                <th>Last Update</th>
            </tr>
        </thead>
        <tbody>
            <% for (var i = 0; i < tickets.length; i++) { %>
                <tr>
                    <td><a href="/tickets/<%= tickets[i]._id %>" title="Edit Article"><%= tickets[i].ticketNum %></a></td>
                    <td><%= tickets[i].ticketPriority %></td>
                    <td><%= tickets[i].ticketStatus %></td>	
                    <td><%= tickets[i].ticketOwner %></td>
                    <td><%= tickets[i].ticketCreated %></td>
                    <td><%= tickets[i].ticketClosed %></td>		
                </tr>
            <% } %>
        </tbody>
    </table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>
    $(function()
    {
        $('#ticketsAll').click(function() 
        {
            var searchString = 'Closed';
            $("#table tr td:contains('" + searchString + "')").each(function() 
            {
            if ($(this).text() == searchString)    
            {
                $(this).parent().remove();
            }
        });
    });
    $(function()
    {
        $('#ticketsOpen').click(function() 
        {
            $('#table').DataTable().ajax.reload();
        });
    });
});
</script>
</main>
<% include ../partials/footer.ejs %>